<?xml version="1.0" encoding="utf-8"?>
<formsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.0.5700.0">
	<notifications formEntrySubmittedNotificationTemplateId="7c16f3b1-dc6e-6d1e-b785-ff00007809e7" updatedFormEntrySubmittedNotificationTemplateId="7d16f3b1-dc6e-6d1e-b785-ff00007809e7" />
</formsConfig>