<?xml version="1.0" encoding="utf-8"?>
<forumsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.0.5700.0">
	<notifications newPostNotificationTemplateId="9516f3b1-dc6e-6d1e-b785-ff00007809e7" newThreadNotificationTemplateId="9616f3b1-dc6e-6d1e-b785-ff00007809e7" />
</forumsConfig>